@import '../../styles/colors.scss';

.toggle {
  position: relative;

  input {
    position: absolute;
    left: 8px;

    &:checked + span {
      background-color: $primary;

      &:before {
        left: calc(100% - 2px);
        transform: translateX(-100%);
      }
    }
    &:focus + span {
      box-shadow: 0 0 0 2px rgba($color: $secondary, $alpha: 0.1);
    }
    &:focus:checked + span {
      box-shadow: 0 0 0 2px rgba($color: $primary, $alpha: 0.1);
    }
  }
  span {
    display: flex;
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 100px;
    background-color: $grey;
    position: relative;
    transition: background-color 0.2s, box-shadow 0.2s;

    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      transition: 0.2s;
      background-color: $white;
    }
    &:active:before {
      width: 28px;
    }
  }
}
