@import './styles/colors.scss';
@import './styles/utilities.scss';
@import './styles/grid.scss';
@import './styles/typography.scss';

.app {
  color: $white;
  background-color: $dark;
  display: flex;
  position: relative;
  .app--wrap {
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
  }
}

// Authentication Layout
.auth-image {
  background-color: $dark;
  background-image: url('./assets/images/auth-image.jpeg');
  background-size: cover;
  background-position: center center;
}

.stars-background {
  background-color: $dark;
  background-image: url('./assets/images/stars.jpeg');
  background-repeat: repeat-x;
}

.home-image {
  width: 100%;
  max-width: 180px;
}

.search-wrapper {
  max-width: 600px;
  width: 100%;
}

.display-contents {
  display: contents;
}

.loader {
  border: 2px solid $white;
  border-top: 2px solid $primary;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 30% auto 10% auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
