// Colours
$primary: #ffe400;
$secondary: #d86b30;
$dark: #000000;
$white: #ffffff;
$grey: #808080;

.primary {
  background-color: $primary;
  &--text {
    color: $primary;
  }
}
.secondary {
  background-color: $secondary;
  &--text {
    color: $secondary;
  }
}
.grey {
  background-color: $grey;
  &--text {
    color: $grey;
  }
}
